@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(212, 198, 235);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(218, 23, 33);
  flex: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  margin: 0;
  bottom: 40px;
  left: 20px;
  opacity: 0;
}

.slide.activ {
  flex: 10;
}

.slide.activ h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}